<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Home</title>
    {% load static %}
</head>
<body>
    <span>
        <h3><a href="/logout">Logout</h3></a>
    </span>
    <h1>Hello {{request.session.name}}</h1>

    <div class="post">
        <h1>Feel Free To Share Something With The World!</h1>
        <form action="/post_blog" method="POST">
            {% csrf_token %}
            <h2>Tell Us Something!</h2>
            <textarea name="content" rows="10" cols="45">
            </textarea>
            <button>Submit</button>
        </form>
    </div>
    

    {% for post in all_posts %}
    <h3>{{post.creator.first_name}} shared:</h3>
    <p>{{post.content}}</p>
    <p>{{post.created_at}}</p>


            {{post.text}}
        <!-- one response -->
        <p id="replies">
            {% for response in all_replies %}
                {{response.responder.first_name}}
                <br>
                {{response.text}}
            {% endfor %}
        </p>

    <form action="/reply" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="reply" name="text">
        <button>Reply</button>
    </form>
    
    {% endfor %}

</body>
</html>