<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style2.css">

    <title>Home</title>
    {% load static %}
</head>
<body>
    <div class="container">      
        <header class="header">
            <h1>Hello {{request.session.name}} 👋🏼</h1>
            <h3 class="logout"><a href="/logout">Logout</h3></a>
        </header>


        <div class="post-input">
            <h1 class="share-something">Share Something With The World!</h1>
            <form action="/post_blog" method="POST">
                {% csrf_token %}
                <textarea name="content" rows="10" cols="53">
                </textarea>
                <button class="text-area-btn">Submit</button>
            </form>
        </div>
        
        <div class="posts-container">
            <div class="posts">
                {% for post in all_posts %}
                <h3 class="post-creator">{{post.creator.first_name}} shared:</h3>
                <p class="post-content">{{post.content}}</p>
                <p class="post-created-at">@ {{post.created_at}}</p>    


                <p class="replies">
                    {% for response in post.comments.all %}
                    <h3 class="new-response">New Response</h3>
                        <p class="responder-name">{{response.responder.first_name}} said: {{response.text}} </p>
                    {% endfor %}
                </p>

                <form action="/reply/{{post.id}}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Reply to this comment" name="text" id="reply-input">
                    <button type="submit" class="reply-btn">Reply</button>
                </form>
                {% endfor %}
            </div>
        </div>
        

    </div>
</body>
</html>