<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Rancho&effect=outline"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>Welcome</title>
    {% load static %}
  </head>

  <body>
    <div class="container">
      <section class="register-section">
        <div class="register">
          <h1>Register!</h1>
          <form action="/register" method="POST">
            {% csrf_token %}
            <input type="text" name="f_n" placeholder="First Name" />
            <input type="text" name="l_n" placeholder="Last Name" />
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input
              type="password"
              name="confirm_password"
              placeholder="Confirm Password"
            />
            <button class="submit" type="submit" value="Register">Register</button>
          </form>
        </div>
      </section>

      <section class="login-section">
        <div class="login">
          <h1>Log In</h1>
          <form action="/login" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <button class="submit" type="submit" value="login">LogIn</button>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
