#replies {
    font-size: 20px;
}

.container {
    text-align: center;
    background-color: antiquewhite;
    font-family: "Rockwell";
}

body {
    background-color: red;
}

section {
    background-color: green;
    text-align: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 130px 60px 40px 60px;
    border: thick solid white;
    border-radius: 50px;
    height: fit-content;
}

input {
    display: block;
    margin-left: 860px;
    margin-bottom: 10px;
}