* {
    padding: 0px;
}

body {
    background: url("background2.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    text-align: center;
    background: transparent;
    padding: 10px;
    margin: 130px 60px 40px 60px;
    border: thick solid white;
    border-radius: 50px;
    height: fit-content;
}

label {
    font-size: 25px;
}

input {
    display: block;
    margin-left: 860px;
    margin-bottom: 10px;
}
