* {
    padding: 0;
}
#replies {
    font-size: 20px;
}

.container {
    text-align: center;
    background-color: antiquewhite;
    font-family: "Rockwell";
}

body {
    background-color: red;
}

section {
    background-color: green;
    text-align: center;
    background-repeat: no-repeat;
}